/*common css*/
{
	box-sizing:border-box;
}
body{
	background:#fafafa;
	margin:0;
	font: 14px / 1.7 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

img{
  boder:none;
}

a{
	text-decoration: none;
}
.container{
	width:960px;
    margin:0 auto;
}
/*welcome*/
.welcome .header{
	background: rgba(0,0,0,.3);
}
.header{

	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background:#4285F4;
	height: 61px;
}

.header .nav{
	margin:0;
	padding:0;
	overflow: hidden;
	float: left;
	background-color: transparent;
	color: white;
	margin-top: 12px;
}
.header .nav li{
	list-style:none;
    float:left;
}
.header.nav li a{
	display: block;
	color: white;
	text-align: center
	font-size: 13px;
	padding:14px 16px;
	border:1px solid transparent;
	border-radius: 5px;
}

.header.nav li a:hover{
	background-color: #111;
}

.header .nav li.current a{
	background: rgba(255,255,255,0.2);
    border:1px solid transparent;
}

/*Home.css*/
.home-wrapper{
	
	width: 960px;
	padding: 30px;
	margin: 10px auto;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
    background: rgb(255, 255, 255);
}
.header .logo{
	display:block;

	background:#4285F4;

	height: 70px;
	width: 70px;
	border-radius:  50%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	background:#00c4cc;
margin: 15px;
	color:#fff;
	font-size: 35px;
	line-height: 70px;
	text-align: center;
}

.black{
	height:20px;
	width:20px;
	background-color: black;
	border-radius:  50%;
	position:absolute;
    top:10px;
    left:10px;
}
.post-title{
	font-weight: normal;
	color: black;
	text-align:center;
	margin:50px 0;
}
.home-logo{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	
	color:teal;
    font-size: 35px;
    text-align: center;
    line-height: 14px;

/*颜色样式*/
background: #ffffff;
box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.home-images{
	max-width: 100%;
	display: block;
	margin: 30px auto;
	color:#fff;
	font-size: 35px;
	line-height: 70px;
	text-align: center;

}

